body{
    font-family: 'Work Sans', sans-serif;
}


*{
margin:0;
padding:0
}
ul,ol{
list-style: none;
}
a{
text-decoration: none;
}
.img{
vertical-align: middle;
}

.container{
max-width: 1240px;
width: 100%;

margin:0 auto;

}
/*====================
Common css end
====================== */

/* header part */
.header{
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    
    
}
#header{
    /* border-bottom: 1px solid #ddd;
    box-shadow: 1px 0px 2px; */
}
.header_left{
    display: flex;
    gap: 10px;
}
.header_right{
    display: flex;
    gap: 5px;
    
}
.follow_us{
    display: flex;
    gap: 5px;
    background-color: #e7e6e9;
    padding:5px 8px;
    border-radius: 7px;
    margin-left: 10px;
}
.menu{
    margin-top: 5px;
}
/* header part */





/* banner start */
#banner{
    position: relative;
    height: 420px;
    width: 100%;
    padding: 60px 0;
    
}
.banner_background_pic{
    background-image: url('../images/Group114.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    
    left:0;
    top:0;
    width: 60%;
    height: 540px;
    overflow: hidden;

}
.banner_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.banner_text h3{
    font-size: 20px;
    margin-top: 60px;
    
}
.banner_text p{
    color: rgb(47, 46, 46);
    margin-bottom: 7px;
    font-size: 16px;
}
.banner_text h1{
    margin-bottom: 10px;
font-size: 60px;
background: -webkit-linear-gradient(#F948B2, #8758F1);
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
.banner_btn{
    margin-top: 10px;
}
.banner_btn button{
    margin-top: 20px;
    padding:14px 24px;
    border-radius: 28px;
    border: none;
    color: white;
    cursor: pointer;
}
.btn_left{
    background-color: #F948B2;
}
.btn_right{
    background-color: #4EC5F7;
}
.banner_pic{
    width: 50%;
}
.banner_pic img{
    width: 90%;
    height: 90%;
}
/* banner end */


/* <!-- we are gamer start --> */
#gamer{
    background-color: #fff9fc;
}
.gamer_box{
    display: flex;
    flex-direction: row;

}
.gamer_pic{
width: 60%;
}
.gamer_text{
    width: 37%;
    text-align: right;
    padding-top: 60px;
}
.gamer_pic img{
width: 100%;
}
.gamer_text h1{
    margin-bottom: 10px;
font-size: 35px;
background: -webkit-linear-gradient(#F948B2, #8758F1);
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
.gamer_text p{
    color: rgb(47, 46, 46);
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 23px;
}
.gamer_text button{
    margin-top: 10px;
    padding:14px 34px;
    border-radius: 28px;
    border: none;
    background-color: #F948B2;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}
/* <!-- we are gamer end --> */


/* <!-- online game start --> */
.gradient_color{
    font-size: 35px;
background: -webkit-linear-gradient(#F948B2, #8758F1);
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.online_game_title{
    padding: 30px 0px;
    text-align: center;
}
.online_game_video_box{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.online_game_video{
    width: 22%;
text-align: left;
}
.online_game_video p{
   color: rgb(61, 61, 61);
   font-size: 14px;
}
.single_game img{
    width: 99%;
    border-radius: 15px;
   
    
}
.single_game{
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.game_overlay{
   display: none;
  text-align: center;
 position: relative;


}
.inner_overlay{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.inner_overlay img:hover{
    cursor: pointer;
}
.inner_overlay p{
    color:#F948B2
}
.single_game:hover .game_overlay{
position: absolute;
top: 0;
left: 0;
width: 98%;
height:98% ;
background-color: rgba(0, 0, 0, 0.582);
border: 3px solid #F948B2;
    border-radius: 15px;
    display: block;
    
    
}
/* <!-- online game end --> */



/* play start */
#play{
    padding: 60px 0px;
}
.play_box{
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
}
.play_text{
    width: 35%;
    margin-top: 100px;
}
.play_text h3{
    margin-bottom: 5px;
    font-size: 24px;
}
.play_text p{
    font-size: 13px;
    line-height: 20px;
    margin-top: 20px;
    color: rgb(39, 38, 38);
}
.play_img{
    width: 66%;
    text-align: right;
    position: relative;
}
.play_sm_img{
    position: absolute;
    bottom: -20%;
    left: 30%;
    width: 30%;
}
.play_img .play_bg_img{
    width: 50%;
    
}
/* play end */



/* button_part start */
.button_box{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    text-align:  center;
    margin: 0 auto;
    justify-content: space-evenly;
}
.button_part{
    padding: 80px 0px;
}
.single_button{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 4px 12px ;
    background-color: #fff9fc;
    border-radius: 40px;
    
}
.single_button:hover{
    border:2px solid #F948B2;
    cursor: pointer;
}
.single_button img{
    width: 40px;

}
/* button_part end */


/* footer start */
#footer_part{
    padding: 100px 20px;
    background-color: #0b0223;
}
.footer_icon{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.footer_menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:30px 0px;
    gap: 20px;
    
}
.footer_menu a{
    color: white;
    font-size: 14px;
}

.footer_social_icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:20px 0px;
    gap: 20px;
}
.footer_social_icon img{
width: 30px;
background: white;
border-radius: 11px;
padding: 8px;
}

.footer_policy{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:20px 0px;
    gap: 20px;
}
.footer_policy a{
    color:#605c5c;
    margin-top: 30px;
    font-size: 13px;
    letter-spacing: 2px;
}

.footer_copyright{
    color:#605c5c;
    font-size: 13px;
    letter-spacing: 1px;  
    text-align: center;
}
/* footer end */